/.phpunit.cache
phpunit.xml.bak
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
swapi-project-f5e41-firebase-adminsdk-ng9lc-6a4ac5d5b4.json
google-services.json